<script setup lang="ts">
import { ref } from "vue";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
var count = ref(0);
const inc = () => {
  count.value++;
};

const dec = () => {
  if (count.value === 0) {
    count.value = 0;
  } else {
    count.value--;
  }
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent :num="count" />
        <v-btn @click="inc()">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <SecondComponent :num="count * 2" />
        <v-btn @click="dec()">DECREASE</v-btn></v-col
      >
    </v-row>
  </v-container>
</template>
