<script lang="ts" setup>
import { ref } from "vue";

const feel = ref("Smile");
const img = ref("../../feeling_imgs/smile.png");
const colorS = ref("#ffff00");
const changeIamge = (f: string) => {
  if (f !== "Smile") {
    colorS.value = "";
  }
  console.log(img);
  img.value = "../../feeling_imgs/" + f.toLowerCase() + ".png";
  feel.value = f;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img style="width: 50vh" :src="img"></v-img>
      </v-col>
      <v-col>
        <v-row class="justify-center"
          ><div style="font-size: 6vh">
            {{ feel }}
          </div></v-row
        >
        <v-row class="justify-center">
          <v-btn class="sizeBtn" @click="changeIamge('Angry')">angry</v-btn>
          <v-btn class="sizeBtn" @click="changeIamge('Cute')">cute</v-btn>
          <v-btn class="sizeBtn" @click="changeIamge('Excited')">EXCITED</v-btn>
          <v-btn class="sizeBtn" @click="changeIamge('Pain')">PAIN</v-btn>
          <v-btn class="sizeBtn" @click="changeIamge('Shocked')">SHOCKED</v-btn>
          <v-btn class="sizeBtn" @click="changeIamge('Smile')" :color="colorS"
            >smile</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.sizeBtn {
  width: 60vh;
  margin: 5px;
}
.sizeBtn:focus {
  background-color: #ffff00;
}
</style>
