<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-form>
          <v-text-field
            v-model="num"
            label="Please input number"
            :rules="[(v) => !!v || 'Number is not empty!!']"
          ></v-text-field>
        </v-form>
        <v-row style="height: 70vh; overflow-y: auto">
          <v-col v-for="item in parseInt(num)" :key="item" cols="1">
            <v-card variant="flat" class="text-center">
              <v-card-title>{{ item }}</v-card-title>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
