<script lang="ts" setup>
import { ref } from "vue";
import { useProductStore } from "@/stores/products";
const productStore = useProductStore();

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow-y: auto">
          <v-row>
            <v-col cols="4" v-for="item in products" :key="item.id">
              <v-card class="text-center">
                <v-card-title>{{ item.name }}</v-card-title>
                <v-card-text>{{ item.price }}</v-card-text>
                <v-card-actions class="justify-center">
                  <v-btn
                    elevation="2"
                    @click="
                      productStore.addProduct(item.id, item.name, item.price)
                    "
                    >add</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container>
          <v-col>
            <v-table style="height: 70vh; overflow-y: auto">
              <thead class="text-center">
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>price</th>
                </tr>
              </thead>
              <tbody v-if="productStore.selectedProducts.length !== 0">
                <template
                  v-for="item in productStore.selectedProducts"
                  :key="item.id"
                >
                  <tr v-if="productStore.selectedProducts.length != 0">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                </template>
              </tbody>
              <tbody v-else class="text-center">
                <tr>
                  <td colspan="3">NO Data</td>
                </tr>
              </tbody>
            </v-table>
            <div style="font-weight: 600; font-size: 8vh">
              Sum: {{ productStore.total }}
            </div>
          </v-col>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
